.rbc-allday-cell {
  display: none !important;
}

/* th  */
.rbc-header {
  padding: 30px;
}

/* td  */
.rbc-timeslot-group {
  /* padding: 50px 10px; */
  align-items: center;
}

.rbc-time-slot {
  min-height: 150px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

.rbc-time-slot .rbc-label {
}

.rbc-time-slot:nth-child(2) {
  display: none;
}

/* event */
.rbc-event,
.rbc-event.rbc-selected {
  background-color: transparent;
  border: 0 !important;
  outline: 0;
}

.rbc-event {
  overflow: visible !important;
}

.rbc-event:focus {
  outline: 0;
}
/* event container */
.rbc-events-container {
  margin-right: 0 !important;
}

/* label in events */
.rbc-event-label {
  display: none;
}

.rbc-time-view {
  width: 1800px;
}

.rbc-time-header.rbc-overflowing {
  margin-right: 0 !important;
}

/* line */
.rbc-current-time-indicator {
  background-color: #ff0000; /* Change the color of the current time line */
  /* border-left: 2px solid #ff0000; Optional: Add a border */
  /* z-index: 1000; /* Ensure the line appears above events */
  /* left: 0 !important; Ensure the line starts from the left edge */
  /* right: 0 !important; Ensure the line stretches to the right edge */
  /* position: absolute; */
}

/* scrollbar for calender */
.rbc-time-content {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.rbc-time-content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* time column */
.rbc-time-gutter.rbc-time-column {
  width: 84.8125px;
  min-width: 84.8125px;
  max-width: 84.8125px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

/* today's active column */
.rbc-today {
  background: white !important;
}

.custom-time-indicator {
  height: 2px;
  background: #f74969;
  position: relative;
  z-index: 10;
  left: -202%;
  width: 303%;
}

.custom-time-indicator::before {
  content: attr(data-time);
  position: absolute;
  top: -11px;
  left: -42px;
  height: 24px;
  width: 42px;
  padding: 1px 4px;
  border: 2px solid #f74969;
  border-radius: 13px;
  font-size: 12px;
  word-wrap: normal;
  font-weight: bold;
  color: #f74969;
  background: white;
  box-shadow: 0px 0px 6px 1px white;
}

.rbc-current-time-indicator {
  /* display: none; */
  /* position: relative; */
}

@media (max-width: 768px) {
  .rbc-header {
    padding: 10px;
    font-size: 10px;
  }
}

@media (max-width: 1280px) {
}
